<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>FileMangement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertData</display-name>
    <servlet-name>InsertData</servlet-name>
    <servlet-class>files.InsertData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertData</servlet-name>
    <url-pattern>/InsertData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispData</display-name>
    <servlet-name>DispData</servlet-name>
    <servlet-class>files.DispData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispData</servlet-name>
    <url-pattern>/DispData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteData</display-name>
    <servlet-name>DeleteData</servlet-name>
    <servlet-class>files.DeleteData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteData</servlet-name>
    <url-pattern>/DeleteData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListData</display-name>
    <servlet-name>ListData</servlet-name>
    <servlet-class>files.ListData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListData</servlet-name>
    <url-pattern>/ListData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateData</display-name>
    <servlet-name>UpdateData</servlet-name>
    <servlet-class>files.UpdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateData</servlet-name>
    <url-pattern>/UpdateData</url-pattern>
  </servlet-mapping>
</web-app>